includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 9
    ignoreErrors:
        - '#^Call to an undefined static method App\Models\'
    excludePaths:
        - app/Http/Middleware/*
        